# The license text is byte-exact to the canonical AGPL-3.0 from gnu.org so that
# GitHub's license detection identifies it. Never convert it on checkout or on
# commit: a CRLF copy is no longer byte-exact.
LICENSE -text
